<div class="row">
  <div class="col-6">
    <h1 class="display-6">Product List</h1>
  </div>
  <div class="col-6 my-3">
    <input
      type="text"
      class="form-control"
      id="searchProductNameInput"
      placeholder="Search..."
      (keyup)="onSearchProductNameChange($event)"
      [(ngModel)]="searchProductNameInput"
    />
    <!--[value]="searchProductNameInput" line 12-->
  </div>
</div>
<div class="row my-3">
  <div class="spinner-border text-primary" role="status" id="loading">
    <span class="sr-only"></span>
  </div>


    <ng-template ngFor let-product [ngForOf]="filteredProducts" *ngIf="filteredProducts.length > 0; else noItems">

      
      <div
        *ngIf="isProductCardShow(product); else productDiscontinued"
        [class]="productCardClass"
      >
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            {{ product.name }} ürününü hemen sepete sepete ekleyin
          </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>

      <ng-template #productDiscontinued>
        <div class="d-flex justify-content-center {{ productCardClass }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.name }} ürünü şuan satılmıyor.</p>
            <a href="#" class="btn btn-primary disabled">Add to Cart</a>
          </div>
        </div>
      </ng-template>


    </ng-template>

    <ng-template #noItems>
      <div class="alert alert-primary" role="alert">
        Ürün bulunamadı.
      </div>
    </ng-template>
</div>
