<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">Etiya</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <li *ngFor="let navItem of navItems" class="nav-item">
            <a class="nav-link" [routerLink]="navItem.routerLink" [routerLinkActiveOptions]="{ exact: navItem.isRouterActiveExact }" routerLinkActive="active">{{ navItem.name }}</a>
          </li>
  
        </ul>

        <button class="btn btn-primary" [routerLink]="['cart']" type="submit">Cart <span class="badge badge-light">{{ cartText }}</span></button>
      </div>
    </div>
  </nav>
  